{% extends 'base.html.twig' %}

{% block title %}Votre Panier
{% endblock %}

{% block body %}
	<div>
		<div class="cart-container">

			<h2 class="cart-title">Votre Panier</h2>
			{% if panier is empty %}
				<p class="cart-empty">Votre panier est vide.</p>
			{% else %}
				<ul class="cart-items" data-url="{{ path('cart_remove') }}" id="data">
					{% for item in panier %}
						<li class="cart-item" data-id-supp="{{ item.produit.id }}" data-prix="{{ item.produit.prix }}">
							<div class="div-img-cart">
								<img src="{{asset("assets/images/" ~ item.produit.image)}}" alt="">
							</div>
							<span class="item-name">{{ item.produit.nomDuProduit }}</span>
							<span class="item-details">
								<span class="item-quantity">{{ item.quantity }}
									x</span>
								<span class="item-price">{{ item.produit.prix }}
									€</span>
								<span class="item-color">{{ item.couleur ?? null }}</span>
								<span class="item-size">{{ item.taille ?? null }}</span>
							</span>
							<button class="btn btn-danger btn-sm remove-btn" onclick="removeFromCart(event, {{ item.produit.id }})">
								Supprimer
							</button>
						</li>
					{% endfor %}
				</ul>
				<div class="cart-summary">
					<p class="cart-total">Total :
						<span id="total_panier">{{ total }}</span>
						€</p>
					<a href="{{ path('app_payment') }}" class="btn btn-primary checkout-btn">Passer à la caisse</a>

				</div>
			{% endif %}
		</div>

	</div>
{% endblock %}
