{% extends 'base.html.twig' %}

{% block title %}Votre Panier
{% endblock %}

{% block body %}
	<h2>Votre Panier</h2>
	{% if panier is empty %}
		<p>Votre panier est vide.</p>
	{% else %}
		<ul data-url="{{path('cart_remove')}}" id="data">

			{% for item in panier %}
				<li>
					{{ item.name }}
					-
					{{ item.quantity }}
					x
					{{ item.price }}
					€ =
					{{ item.quantity * item.price }}
					€
					<a href="#" class="btn btn-danger btn-sm" onclick="removeFromCart(event, {{item.id}})" class="removeElement">Supprimer</a>
				</li>
			{% endfor %}
		</ul>
		<p>Total :
			{{ total }}
			€</p>
		<a href="" class="btn btn-primary">Passer à la caisse</a>
	{% endif %}
{% endblock %}
