{% extends 'base.html.twig' %}

{% block title %}Hello DetailsRobeController!
{% endblock %}

{% block body %}


	<div class="detailsProduit">

		<img src="{{asset('assets/images/' ~ robe.image)}}" alt="{{ robe.nomDuProduit }}">

		<div class="p">
			<h2>{{ robe.nomDuProduit }}</h2>
			<p>{{ robe.description }}</p>
			<p class="prix">Prix :
				{{ robe.prix }}€</p>
			<button class="btn btn-success" id="bouton_panier" onclick="addToCart({{robe.id}})" data-url="{{ path('app_cart') }}">Ajouter au panier</button>
			<p id="success_add"></p>
		</div>


	</div>

{% endblock %}
