{% extends 'base.html.twig' %}

{% block title %}Hello DetailsRobeController!
{% endblock %}

{% block body %}

	<div id="custom-dialog" class="hidden">
		<div class="dialog-content">
			<p id="dialog-message">Message ici</p>
			<button id="dialog-ok">OK</button>
		</div>
	</div>


	<div class="detailsProduit">

		{% if images|length > 0 %}
			<div class="image-container">
				<a href="{{ asset('assets/images/' ~ images[0]) }}" data-size="1024x1024">
					<img src="{{ asset('assets/images/' ~ images[0]) }}" id="image_robe" alt="Image description">
				</a>

			</div>

		{% endif %}


		<div class="p">
			<h2 id="titre_robe">{{ robe.nomDuProduit }}</h2>
			<p>{{ robe.description }}</p>
			<p class="prix">Prix :
				{{ robe.prix }}€</p>
			<select name="optionsTailles" id="optionsTailles">
				<option value="null">Choisissez votre taille</option>
				{% for item in tailles %}
					<option value="{{ item }}">
						{{item}}
					</option>
				{% endfor %}
			</select>
			<div class="couleurs">
				{% for couleur in couleurs %}
					<div id="{{couleur | lower}}" class="{{couleur | lower}} ">
						<p>{{couleur}}</p>
					</div>
				{% endfor %}
			</div>

			<button class="btn btn-success" id="bouton_panier" onclick="addToCart({{robe.id}})" data-url="{{ path('app_cart') }}">Ajouter au panier</button>
			<p id="success_add"></p>
			<div class="avis_div">
				{% if app.user%}
					<!-- Ajouter un bouton pour permettre d'ajouter un avis -->
					{% if achat == true %}
						<a href="{{ path('ajouter_avis', {'idProduit': robe.id }) }}" class="btn btn-primary mt-3">Ajouter un avis</a>
					{% endif %}
					<a href="{{ path('app_avis', {'idProduit': robe.id }) }}" class="btn btn-primary mt-3">Voir les avis</a>
				{% else %}
					<a href="{{ path('app_avis', {'idProduit': robe.id }) }}" class="btn btn-primary mt-3">Voir les avis</a>
				{% endif %}
			</div>
		</div>


	</div>

{% endblock %}
