{% block body %}
  <nav class="navbar">
        <div class="navbar-container">
            
            <a href="" class="navbar-brand">Logo</a>

         
            <ul class="navbar-links">
                <li><a href="{{path('app_home')}}">Accueil</a></li>
                <li><a href="{{path('app_login')}}">À propos</a></li>
                <li><a href="{{path('app_robes')}}">Robes</a></li>
                <li><a href="">Contact</a></li>
                {% if app.user %}
                    <li><a href="">Profil</a></li>
                    <li><a href="">Déconnexion</a></li>
                {% else %}
                    <li><a href="{{path('app_login')}}">Connexion</a></li>
                    <li><a href="{{path('app_register')}}">Inscription</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
</div>
{% endblock %}
