{% extends 'base.html.twig' %}

{% block title %}Hello RobesController!
{% endblock %}

{% block body %}

	{% for robe in robes %}
		<div class="produit">

			<a href="{{path('app_details_robe', {id: robe.id})}}"><img src="{{asset('assets/images/' ~ robe.image)}}" alt="{{ robe.nomDuProduit }}"></a>

			<div class="p">
				<h2>{{ robe.nomDuProduit }}</h2>
				<p>{{ robe.description }}</p>
				<p>Prix :
					{{ robe.prix }}€</p>
			</div>

		</div>
	{% endfor %}
{% endblock %}
