{% extends 'base.html.twig' %}

{% block title %}Catalogue
{% endblock %}

{% block body %}

{% for robe in robes %}
	<div class="produit">
		<a href="{{path('app_details_robe', {id: robe.id})}}">
			{% if robe.images|length > 0 %}
				<img src="{{ asset(robe.images|first.image) }}" alt="{{ robe.nomDuProduit }}">
			{% else %}
				<img src="{{asset('assets/images/default.webp')}}">
			{% endif %}
		</a>
		<div class="p">
			<h2>{{ robe.nomDuProduit }}</h2>
			{# <p>{{ robe.description }}</p>#}
			<p>Prix :
				{{ robe.prix }}€</p>
		</div>
	</div>
{% endfor %}
<div class="pagination-container">
	{% if robes.haveToPaginate %}
		<ul class="pagination">
			{% if robes.hasPreviousPage %}
				<li>
					<a href="{{ path('app_robes', {page: robes.getPreviousPage}) }}">&laquo; Précédent</a>
				</li>
			{% else %}
				<li class="disabled">
					<span>&laquo; Précédent</span>
				</li>
			{% endif %}

			{% for page in 1..robes.nbPages %}
				{% if page == robes.currentPage %}
					<li class="current">
						<span>{{ page }}</span>
					</li>
				{% else %}
					<li>
						<a href="{{ path('app_robes', {page: page}) }}">{{ page }}</a>
					</li>
				{% endif %}
			{% endfor %}

			{% if robes.hasNextPage %}
				<li>
					<a href="{{ path('app_robes', {page: robes.getNextPage}) }}">Suivant &raquo;</a>
				</li>
			{% else %}
				<li class="disabled">
					<span>Suivant &raquo;</span>
				</li>
			{% endif %}
		</ul>
	{% endif %}
</div></div>




{% endblock %}
