{% extends 'base.html.twig' %}

{% block title %}Payement
{% endblock %}

{% block body %}
	<div class="recapitulatif">
		<h2>Récapitulatif de la commande</h2>
		<table>
			<thead>
				<tr>
					<th>Produit</th>
					<th>Quantité</th>
					<th>Prix Unitaire</th>
					<th>Total</th>
				</tr>
			</thead>
			<tbody>
				{% for item in items %}
					<tr>
						<td>{{ item.produit.nomDuProduit }}</td>

						<td>{{ item.quantity }}</td>
						<td>{{ item.produit.prix }}
							€</td>
						<td>{{ item.produit.prix * item.quantity }}
							€</td>
					</tr>
				{% endfor %}
			</tbody>
			<tfoot>
				<tr>
					<td colspan="3">
						<strong>Total :</strong>
					</td>
					<td>
						<strong>{{ total }}
							€</strong>
					</td>
				</tr>
			</tfoot>
		</table>
	</div>

	<div class="payement">
		<h1>Payement</h1>

		{{ form_start(form) }}
		{{ form_row(form.numero_de_carte) }}
		{{ form_row(form.date_expiration) }}
		{{ form_row(form.cvv) }}
		{{ form_row(form.titulaire) }}
		{{ form_row(form.payer) }}
		{{ form_end(form) }}
	</div>
{% endblock %}
